
@media only screen and (max-width: 767px){
    .assetPanel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width:  45vw;
        z-index: 999;
        position: absolute;
        gap: 2px;
    }

    .panelBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: black;

    }

    .panelBtn > * {
        width: 15px;
        height: 15px;
    }
}
@media only screen and (min-width: 768px){
    .assetPanel{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width:  20vw;
        z-index: 999;
        position: absolute;
        gap: 10px;

    }
    .panelBtn{
        background: transparent;
        color: black; 

    }


}